<h1>Editing attendee</h1>

<%= render "form", attendee: @attendee %>

<br>

<div>
  <%= link_to "Back", @attendee, class: 'button-style' %><br>
  <% if current_admin %>
    <%= link_to "Back to attendees", attendees_path, class: 'button-style' %>
  <% end %>
</div>
